langgraph
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

huggingface-hub
transformers
torch

faiss-cpu

pypdf

python-dotenv
streamlit
typing-extensions
